<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Конвертер валют</title>
  <!-- Подключаем CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1>Конвертер валют</h1>

  <form action="/converter" method="post">
    <label for="fromCurrency">Из валюты:</label>
    <select id="fromCurrency" name="fromCurrency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="RUB">RUB</option>
    </select>

    <label for="toCurrency">В валюту:</label>
    <select id="toCurrency" name="toCurrency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="RUB">RUB</option>
    </select>

    <label for="amount">Сумма:</label>
    <input type="number" id="amount" name="amount" required>

    <input type="submit" value="Конвертировать">
  </form>

  <h2 th:text="'Конвертированная сумма: ' + ${convertedAmount}"></h2>
</div>
</body>
</html>
