<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Главная страница</h1>
    <form action="/calc" method="get">
        <input type="submit" value="Перейти на Калькулятор">
    </form>

    <form action="/converter" method="get">
        <input type="submit" value="Перейти на Конвертер Валют">
    </form>
</div>
</body>
</html>
